/* ====================================
Base styling (all screen sizes) 
==================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, "Helvectica Neue", sans-serfif;
    font-size: 1rem;
    background-color: #F5F5F5;
}

main {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    padding: 1rem;
}

fieldset {
    border: 1px solid #DDD;
    background-color: #F5F5F5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

legend {
    font-size: 2rem;
    padding: 0 0.5rem;
}

label {
    font-size: 1rem;
}

input[type="button"] {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #264a8e;
    width: 100%;
}

input[type="button"]:hover {
    opacity: 0.90;
}

/* ====================================
Tablet - 25rem + 
==================================== */

@media (min-width: 25rem) {
    input[type="button"] {
        width: auto;
        align-self: flex-start;
    }
}

/* ====================================
Desktop - 40rem + 
==================================== */

@media (min-width: 40rem) {
    main {
        margin: 2rem auto;
    }

    fieldset {
        padding: 2rem;
    }
}

